body {
    background-color: #87a9e4;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #6e778c;
    border: border-box;
    font-weight: normal;
}


/* navigation bar */

.nav-item,
nav-link {
    list-style: disc;
    margin-left: 30px;
}

.nav-about,
.nav-inner-about {
    list-style: disc;
    margin: 10px 0px 0px 10px;
    color: #6e778c;
    text-decoration: none;
}

.img-thumbnail {
    width: 169px;
}

.pin {
    border: 1px solid black;
    width: 32px;
    margin-left: 7px;
    margin-top: 7px;
    border-radius: 38px;
    box-shadow: 1px 0px 1px black;
    background: white;
}

.fa-magnifying-glass:before,
.fa-search:before {
    content: "\f002";
    margin-left: 6px;
}

.room {
    border: 1px solid black;
    width: 30px;
    margin-left: 44px;
    border-radius: 21px;
    box-shadow: 1px 0px 1px black;
}

.zero {
    border: 1px solid black;
    width: 16px;
    margin-bottom: 16px;
    border-radius: 20px;
    margin-left: -2px;
    background: white;
}

.flex {
    BORDER: 1px solid black;
    height: 52px;
    width: 259px;
    text-align: center;
    padding: 12px;
    border-radius: 30px;
}

.fles:hover {
    background-color: #0d6efd;
}

.fles {
    border: 1px solid black;
    height: 51px;
    padding: 12px;
    width: 297px;
    background: darkblue;
    text-align: center;
    border-radius: 30px;
    color: white;
}

.fles a {
    text-decoration: none;
}


/* hero section */

.hero-container {
    margin: 0 20px;
    overflow: hidden;
    display: flex;
}

.dr-img {
    background-image: url("https://t4.ftcdn.net/jpg/03/72/38/93/240_F_372389334_ALenDHD00b5X6KRp8KRvx5GLrhvJWnCX.jpg");
    background-size: cover;
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 30px;
}

.hero-section {
    margin: 30px;
}

.hero-title h1 {
    font-size: 60px;
    font-weight: 600;
    color: #031b4e;
    margin-bottom: 15px;
}

.hero-icon i {
    margin: 15px;
}

.hero-inner-title h3 {
    display: inline;
    color: #031b4e;
    font-size: 15px;
    line-height: 25px;
    font-weight: 500;
}


/* Appointment section */

.appoint-section {
    height: 900px;
    width: 90%;
    margin: 70px 60px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.appoint-content {
    width: 70%;
    height: 200px;
    text-align: center;
}

#appoint-heading {
    font-size: 50px;
    font-weight: 600;
    color: #031b4e;
}

#appoint-para {
    font-size: 19px;
    font-weight: 500px;
    color: #6e778c;
}

.appoint-form {
    height: 580px;
    width: 80%;
    margin: 10px;
    padding: 20px;
    text-align: center;
    background-color: rgb(240, 233, 233);
    border-radius: 30px;
}

.appoint-form-input {
    height: 50px;
    width: 40%;
    margin: 15px;
    background-color: white;
    border: none;
    border-radius: 25px;
    font-weight: 700;
    font-size: 14px;
    padding-left: 25px;
}

.appoint-form textarea {
    height: 150px;
    width: 85%;
    margin: 15px;
    padding: 25px;
    border: none;
    border-radius: 20px;
    font-weight: 700;
    font-size: 14px;
    background-color: white;
}

.appoint-form button {
    height: 50px;
    width: 85%;
    margin: 15px;
    border: none;
    border-radius: 20px;
    background-color: rgb(83, 83, 245);
    color: white;
}


/* rating section */

.rating-section {
    text-align: center;
    margin-bottom: 80px;
}

.rating-section h1 {
    font-weight: 600;
}


/* footer section */

.reacts {
    width: 100%;
    border: 1px solid black;
}

.rest {
    float: left;
    text-align: center;
    height: 178px;
}


/* responsive code */